/* Genel Ayarlar */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    color: #333;
}

/* Üst Görsel */
.hero-image img {
    width: 100%;
    height: auto;
    
    
}

/* Navbar */
header {
    background: linear-gradient(to right, #945B30, #DDD4CD);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 60px;
    margin-right: 10px;
}

.navbar .logo span {
    font-size: 1.5em;
    font-weight: bold;
    color: #4a2d16;
}

/* Menü */
.navbar nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1em;
}

.navbar nav ul li a:hover {
    color: #4a2d16;
}

/* İkonlar */
.navbar .icons a {
    margin-left: 15px;
}

.navbar .icons img {
    width: 25px;
    height: 25px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}


.login-container h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #d4a373, #4a2d16);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


.login-container input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}

.login-container button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4a2d16;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: #3b2312;
}

.login-container a {
    margin-top: 10px;
    text-decoration: none;
    font-size: 0.9em;
    color: #4a2d16;
}

.login-container a:hover {
    text-decoration: underline;
}
